h1 {
    color: blue;
    cursor: copy;
}

#data-container {
    padding: 10px 10px;
}

#data-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#data-container p {
    font-size: 16px;
    margin-bottom: 0px;
}

#data-container p:last-child {
    margin-bottom: 0px;
}


#button-search {
    position: absolute;
    top: 235px;
    left: 130px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ECC71;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#button-search:add {
    box-shadow: none;
    transform: translateY(2px);
}

#button-search:hover {
    background-color: #27AE60;
}

#numberTitulo {
    position: absolute;
    top: 235px;
    left: 10px;
    display: inline-block;
    padding: 4px 20px;
    height: 30px;
    width: 60px;
}

